<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">  
        <title>Task 5</title>
    </head>
    <body>
        <h1 style="color: royalblue;">Web Development</h1>
        <div id="name">
            <p>Insert your name here: <textarea v-model="firstname"></textarea></p>
            <button v-show="firstname" type="button" class="btn btn-success" @click="display_message()">Go!</button> 
            <p v-if="welcomeMessage">{{ welcomeMessage }}</p>  
            <h3>Solve the following math problem:</h3>   
            <p> 5379 + 67951 = <textarea v-model="answer"></textarea> </p> 
            <button v-show="answer" type="button" class="btn btn-info" @click="display_answer()">Check my answer</button>
            <p v-if="problemMessage">{{ problemMessage }}</p>
        </div> 
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        new Vue({
            el: "#name",
            data: {
                firstname: "",
                welcomeMessage: "",
                answer: "",
                problemMessage: ""
            },
            methods: {
                display_message() {
                    this.welcomeMessage = "Welcome, " + this.firstname + "!";
                },
                display_answer() {
                    var a = 5379;
                    var b = 67951;
                    var c = a+b;
                    if ( parseInt(this.answer) === c) {
                        this.problemMessage = "Your answer is correct!";
                    } else { 
                        this.problemMessage = "The correct answer is " + c + ".";
                    }
                }
            }
        });        
    </script>
</html>